:root{
  /* color type A */
  --line_color : #d2c8b2;
  --back_color : #FFECF6  ;

  /* color type B */
  /* --line_color : #1b1919 ;
  --back_color : #E9ECFF  ; */

  /* color type C */
  /* --line_color : #00135C ;
  --back_color : #DEFFFA  ; */
}

.button{
  position : relative ;
  z-index : 0 ;
  width : 240px ;
  height : 56px ;
  text-decoration : none ;
  font-size : 30px ;
  font-weight : bold ;
  color : var(--line_color) ;
  letter-spacing : 2px ;
  transition : all .3s ease ;
}
.button__text{
  display : flex ;
  justify-content : center ;
  align-items : center ;
  width : 100% ;
  height : 100% ;
}
.button::before,
.button::after,
.button__text::before,
.button__text::after{
  content : '' ;
  position : absolute ;
  height : 3px ;
  border-radius : 2px ;
  background : var(--line_color) ;
  transition : all .5s ease ;
}
.button::before{
  top : 0 ;
  left : 54px ;
  width : calc( 100% - 56px * 2 - 16px ) ;
}
.button::after{
  top : 0 ;
  right : 54px ;
  width : 8px ;
}
.button__text::before{
  bottom : 0 ;
  right : 54px ;
  width : calc( 100% - 56px * 2 - 16px ) ;
}
.button__text::after{
  bottom : 0 ;
  left : 54px ;
  width : 8px ;
}
.button__line{
  position : absolute ;
  top : 0 ;
  width : 56px ;
  height : 100% ;
  overflow : hidden ;
}
.button__line::before{
  content : '' ;
  position : absolute ;
  top : 0 ;
  width : 150% ;
  height : 100% ;
  box-sizing : border-box ;
  border-radius : 300px ;
  border : solid 3px var(--line_color) ;
}
.button__line:nth-child(1),
.button__line:nth-child(1)::before{
  left : 0 ;
}
.button__line:nth-child(2),
.button__line:nth-child(2)::before{
  right : 0 ;
}
.button:hover{
  letter-spacing : 6px ;
}
.button:hover::before,
.button:hover .button__text::before{
  width : 8px ;
}
.button:hover::after,
.button:hover .button__text::after{
  width : calc( 100% - 56px * 2 - 16px ) ;
}
.button__drow1,
.button__drow2{
  position : absolute ;
  z-index : -1 ;
  border-radius : 16px ;
  transform-origin : 16px 16px ;
}
.button__drow1{
  top : -16px ;
  left : 40px ;
  width : 32px ;
  height : 0;
  transform : rotate( 30deg ) ;
}
.button__drow2{
  top : 44px ;
  left : 77px ;
  width : 32px ;
  height : 0 ;
  transform : rotate(-127deg ) ;
}
.button__drow1::before,
.button__drow1::after,
.button__drow2::before,
.button__drow2::after{
  content : '' ;
  position : absolute ;
}
.button__drow1::before{
  bottom : 0 ;
  left : 0 ;
  width : 0 ;
  height : 32px ;
  border-radius : 16px ;
  transform-origin : 16px 16px ;
  transform : rotate( -60deg ) ;
}
.button__drow1::after{
  top : -10px ;
  left : 45px ;
  width : 0 ;
  height : 32px ;
  border-radius : 16px ;
  transform-origin : 16px 16px ;
  transform : rotate( 69deg ) ;
}
.button__drow2::before{
  bottom : 0 ;
  left : 0 ;
  width : 0 ;
  height : 32px ;
  border-radius : 16px ;
  transform-origin : 16px 16px ;
  transform : rotate( -146deg ) ;
}
.button__drow2::after{
  bottom : 26px ;
  left : -40px ;
  width : 0 ;
  height : 32px ;
  border-radius : 16px ;
  transform-origin : 16px 16px ;
  transform : rotate( -262deg ) ;
}
.button__drow1,
.button__drow1::before,
.button__drow1::after,
.button__drow2,
.button__drow2::before,
.button__drow2::after{
  background : var( --back_color ) ;
}
.button:hover .button__drow1{
  animation : drow1 ease-in .06s ;
  animation-fill-mode : forwards ;
}
.button:hover .button__drow1::before{
  animation : drow2 linear .08s .06s ;
  animation-fill-mode : forwards ;
}
.button:hover .button__drow1::after{
  animation : drow3 linear .03s .14s ;
  animation-fill-mode : forwards ;
}
.button:hover .button__drow2{
  animation : drow4 linear .06s .2s ;
  animation-fill-mode : forwards ;
}
.button:hover .button__drow2::before{
  animation : drow3 linear .03s .26s ;
  animation-fill-mode : forwards ;
}
.button:hover .button__drow2::after{
  animation : drow5 linear .06s .32s ;
  animation-fill-mode : forwards ;
}
@keyframes drow1{
  0%   { height : 0 ; }
  100% { height : 100px ; }
}
@keyframes drow2{
  0%   { width : 0 ; opacity : 0 ;}
  10%  { opacity : 0 ;}
  11%  { opacity : 1 ;}
  100% { width : 120px ; }
}
@keyframes drow3{
  0%   { width : 0 ; }
  100% { width : 80px ; }
}
@keyframes drow4{
  0%   { height : 0 ; }
  100% { height : 120px ; }
}
@keyframes drow5{
  0%   { width : 0 ; }
  100% { width : 124px ; }
}


.container {
  width: 50%; /* Adjust the width as desired */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center elements vertically */
  align-items: flex-end; /* Align elements to the right */
  padding: 20px; /* Add spacing here */
  position: fixed; /* Position the container relative to the viewport */
  right: 23%; /* Adjust the value to move it 2/3 to the right */
  margin-top: 110px; /* Add spacing to move the container further down */
}



.container .button {
  margin-top: 100px; /* Add spacing between button and other elements */
}



.info-container{
  width : 100% ;
  height : 100px ;
  display : flex ;
  justify-content : center ;
  align-items : center ;
  font-size : 14px ;
  color : #fff ;
  text-align : center ;
}

body {
  background-color: #000000;
  margin: 0;
  padding: 0;
  display: flex;
}


.image-container {
  flex: 1;
  width: 50%; /* Set the width to 50% */
  max-width: 50%; /* Add a max-width to ensure it doesn't exceed 50% */
  height: 100%;
  display: flex;
  justify-content: flex-start; /* Align items to the left */
  align-items: flex-end; /* Align items to the bottom */
  position: fixed; /* Position the container relative to the viewport */
  left: 0;
  bottom: 0;
}



/*@font-face {*/
/*  font-family: 'otf_gluspbold';*/
/*  src: url('otf_glusp-webfont.woff2') format('woff2'),*/
/*  url('otf_glusp-webfont.woff') format('woff');*/
/*  font-weight: normal;*/
/*  font-style: normal;*/

/*}*/



@font-face {
  font-family: 'meshed_displayregular';
  src: url('meshed-vf-webfont.woff2') format('woff2'),
  url('meshed-vf-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




.signature {
  margin: 0 auto; /* Center the signature horizontally */
  margin-bottom: 20px; /* Add spacing between the image and the signature */
  font-family: meshed_displayregular, serif;
  font-size: 260px;
  /*color: #d2c8b2; !* Set the font color *!*/
  color: #dc0505;
  text-align: center; /* Center the text horizontally */
  padding: 50px; /* Add padding around the text */
  writing-mode: sideways-lr; /* Align the text sideways */
}


.photo {
  transition: filter 0.5s ease;
}

.photo:hover {
  filter: grayscale(100%) sepia(100%) hue-rotate(0deg);
}









